body{
    color: white;
    background: #000;
}

h1{
    text-align: center;
    font-weight: 700;
}
h5{
    border: 5px solid gray;
    height: 250px;
    text-align: justify;
    border-radius: 5px;
}

img{
    display: inline-block;
    align-items: center;
}